<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xác minh email</title>
</head>
<body>
    <div class="container">
        <h3>Thông báo mật khẩu từ hệ thống Beta Cinemas</h3>
        <p>Chào mừng bạn đã trở thành thành viên của Beta Cinemas.</p>
        <p>Chúng tôi đã tạo cho bạn một tài khoản để bạn có thể đăng nhập. Bạn có thể sử dụng tài khoản này để đăng nhập vào những phiên làm việc tiếp theo. </p>
        <p>Tài khoản:</p>
        <div>Tên đăng nhập: {{email}}</div>
        <div>Mật khẩu: {{password}}</div>
    </div>
</body>
</html>