<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xác minh email</title>
</head>
<body>
    <div class="container">
        <h3>Chào mừng bạn đã đến với Beta Cinemas.</h3>
        <p>Vui lòng click vào đường link dưới để xác minh email của bạn.</p>
        <p>Đường link xác thực sẽ có hiệu lực trong 01 ngày kể từ lúc nhận được email này.</p>
        <p>Link xác minh:</p>
        <a href="{{link}}" target="_blank">{{link}}</a>
    </div>
</body>
</html>